{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<div class="slider">
  <img src="{% static 'img/cap.jpg' %}" class="img-responsive" alt="Gestoria">
</div>
<div class="container-fluid" id="slider-data">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<h2 class="slider-data-title"><strong>Nom Company, SL</strong></h2>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<h2 class="slider-data-title"><strong>Trucan's i t'atendrem.</strong></h2>
			<h3 class="slider-data-title"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 973 30 30 30</h3>            
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<h2 class="slider-data-title"><strong>Horari</strong></h2>
			    <ul class="slider-data-title">
		            <dl>
		              	<dt> De Dilluns a Divendres</dt>
		              	<dt> De 09:00h a 13:00h i de 17:00h a 20:00h</dt>
		              	<dt> Caps de setmana i festius tancat</dt>
		            </dl>
		        </ul>	 
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="container" id="carousel-title">
    	<h1 class="display-1"><strong>Els nostres serveis</strong></h1>
    	{% include 'carousel.html' %}
  	</div>
	<div class="container-fluid" id="news-list">
		<div class="container" id="news-list-title">
			<h1><strong>Últimes notícies</strong></h1>
		</div>
			{% if noticies %}
				{% for noticies in noticies %}
				<div class="container" id="news-list-body">
					<h1>{{ noticies.titol }}</h1>
					<h4>{{ noticies.data_pub }}</h4>
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<a href="{{ noticies.font }}"><img src="{{ noticies.foto.url }}" class="img-responsive" alt="Imatge d\'arxiu" id="news-image"></a>
						</div>
						<div class="col-sm-6 col-md-8">
							<p>{{ noticies.cos|safe }}<a href="{{ noticies.font }}"><strong> (Llegir més...)</strong></a></p>
						</div>
					</div>
				</div>	
				{% endfor %}
			{% endif %}
	</div>
	<div class="container-fluid" id="return-point">
		<a href="/"><button type="button" class="btn btn-danger btn-lg" aria-label="Left Align"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button></a>
	</div>    	
</div>
<footer>
{% include 'footer.html' %}
</footer>
{% endblock %}