{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<div class="slider">
	<img src="{% static 'img/head.jpg' %}" class="img-responsive" id="img-head">
</div>
<div class="container-fluid" id="img-head-in">
    <p><strong>Nom company</strong></p>
</div>
<div class="slider">
{% include 'carousel.html' %}    	
</div>
<div class="container-fluid">
	<div class="container" id="news-list-title">
		<h1><strong>Últimes notícies</strong></h1>
	</div>
		{% if noticies %}
			{% for noticies in noticies %}
			<div class="container" id="list-body">
				<h2>{{ noticies.titol }}</h2>
				<h4>{{ noticies.data_pub }}</h4>
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<a href="{{ noticies.font }}"><img src="{{ noticies.foto.url }}" class="img-responsive" alt="Imatge d\'arxiu" id="news-image"></a>
					</div>
					<div class="col-sm-6 col-md-8">
						<p>{{ noticies.cos|safe }}<a href="{{ noticies.font }}"></a></p>
					</div>
				</div>
			</div>	
			{% endfor %}
		{% endif %}
	<div class="container-fluid" id="return-point">
		<span class="up glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
	</div>    	
</div>
<footer>
{% include 'footer.html' %}
</footer>
{% endblock %}