{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
	<img src="{% static 'img/wave.jpg' %}" class="img-responsive" alt="background-image" id="menu-inici-full">
	<h1><strong>Descàrregues</strong></h1>
		{% if object_list %}
			{% for llista in object_list %}
				<a href="{{ llista.arx_1.url }}" class="list-group-item">{{ llista.nom_1 }} - {{ llista.data_pub }}</a>
			{% endfor %}
		{% else %}
			<p>No hi ha arxius pendents de descàrrega</p>
		{% endif %}
	{% include 'paginator.html' %}
</div>
{% endblock %}