{% extends 'base.html' %}

{% block content %}
{% include 'not_navbar.html' %}
<div class="container-fluid" id="re-password">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><h1><strong>Recuperar Contrasenya</strong></h1></div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="re-password-body">
			<form method="POST">{% csrf_token %}
				<label for="id_email">Correu electrònic: </label> {{ form.email }}
				<input type="submit" name="Enviar" value="Enviar">
				<p>Ex: persona@exemple.com</p>
				<p>Indiqui el correu electrònic que fa servir per a iniciar sessió a Nom Company, SL, i rebreu un missatge per regenerar la seva contrasenya.</p>
			</form>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
	</div>
</div>
{% endblock %}