{% extends 'base.html' %}

{% block content %}
	{% if validlink %}
	<h3>Restablir Contrasenya: </h3>
		<form method="POST">{% csrf_token %}
			{{ form.new_password1.errors }}
			<label for="id_new_password1">Nova Contrasenya: </label>
			{{ form.new_password1 }}
			{{ form.new_password2.errors }}
			<label for="id_new_password2">Confirmar Contrasenya: </label>
			{{ form.new_password2 }}
			<input type="submit" value="Canviar Contrasenya">
		</form>
		{% else %}
	<h3 class="text-center">Enllaç invàlid! Aquest enllaç ja ha estat utilitzat!</h3>
	{% endif %}
{% endblock %}