{% extends 'base.html' %}

{% block content %}

{% if validlink %}
{% include 'not_navbar.html' %}
<div class="container-fluid" id="password-confirm">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><h1><strong>Restablir Contrasenya</strong></h1></div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<form method="POST">{% csrf_token %}
				{{ form.new_password1.errors }}
				<label for="id_new_password1">Nova Contrasenya: </label>
				{{ form.new_password1 }}
				{{ form.new_password2.errors }}
				<label for="id_new_password2">Confirmar Contrasenya: </label>
				{{ form.new_password2 }}
				<input type="submit" value="Canviar Contrasenya">
			</form><br>
			<ul>
				<li>La contrasenya no pot ser massa similar a la vostra informació personal.</li>
				<li>La contrasenya ha de tenir un mínim de 8 caràcters.</li>
				<li>La contrasenya no pot ser una de les habitualment utilitzades.</li>
				<li>La contrasenya no pot estar formada només per números.</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
	</div>
</div>
{% else %}
{% include 'not_navbar.html' %}
	<div class="container-fluid" id="password-confirm">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><h3><strong>Enllaç invàlid! Aquest enllaç ja ha estat utilitzat!</strong></h3></div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
		</div>
	</div>
{% endif %}
{% endblock %}