/*! General */

body {
	font-family: arial;
}

h1 {
	padding-top: 80px;
	text-align: center;
}

/*! Capçalera */

#navbar-header-top {
	background-color: rgb(130,0,0);
	border-bottom: rgb(130,0,0);
	font-family: verdana;
}

#not_navbar-header-top {
	background-color: rgb(130,0,0);
	border-bottom: rgb(130,0,0);
	font-family: verdana;
	color: rgb(255,255,255);
	height: 100px;
}

#navbar-header-down {
	background-color: rgb(130,0,0);
}

#navbar-logo {
	width: 45px;
	height: auto;
	margin-top: -5px;
	border-radius: 5px;
}
/*! Imatge Capçalera */

.slider img {
	width: 100%;
	height: auto;
    filter: grayscale(70%);
    margin-top: 45px;
    position: relative; 
}

.slider {
	border-bottom: rgb(130,0,0) solid 2px;
}

.slider-data-title {
	text-align: center;
	margin-top: 20px;
}

/*! Carousel */

#carousel-title {
	text-align: center;
	margin-top: -50px;
}

/*! Pàg. Index i Notícies */

#news-list {
	text-align: center;
}

#news-list-title {
	margin-top: -50px;
	border-bottom: solid 2px rgb(130,0,0);
}

#list-body {
	border-bottom: solid 2px rgb(130,0,0);
	padding-bottom: 50px;
	color: rgb(0,0,0);
}

#list-body p {
	font-size: 175%;
}

#list-body a {
	color: rgb(0,0,0);
}

#news-list-body {
	border-bottom: solid 2px rgb(130,0,0);
	padding-bottom: 50px;
	color: rgb(255,255,255);
}

#news-list-body p {
	font-size: 175%;
}

#news-list-body a {
	color: rgb(255,255,255);
}

#news-image {
	border-radius: 8px;
	border: solid black 1px;
}

#return-point {
	margin-top: 10px;
	text-align: center;
}

#panel-news h1{
	text-align: center;
	color: rgb(255,255,255);
}

#backnews {
	position: fixed;
	filter: sepia(100%);
	filter: brightness(60%);
	width: 100%;
	height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}

/*! Pàg. Sobre Nosaltres */

#panel-info {
	padding-top: 125px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*! Pàg. Contacte i Perfil Usuari*/

#panel-backcontact img{
	position: fixed;
	filter: sepia(100%);
	filter: brightness(60%);
	width: 100%;
	height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#img-span {
	background-color: rgb(130,0,0);
	padding-bottom: 2px;
}

#panel-contact, #panel-profile {
	margin-bottom: 5px;
}

#panel-contact h1 {
	text-align: center;
	color: rgb(255,255,255);
}

#panel-contact h5 {
	text-align: center;
	color: rgb(255,255,255);
}

#panel-contact form {
	color: rgb(255,255,255);
	font-size: 130%;
}

#panel-contact-top, #panel-profile-top {
	border: solid 1px rgb(130,0,0);
	border-radius: 5px;
	padding: 20px;
}

/*! Usuari */

#menu-inici {
	margin-top: 90px;
}

#menu-inici-full {
	position: fixed;
	width: 100%;
	height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#menu-inici-nom{
	text-align: center;
}

#menu-list {
	margin-top: 45px;
}

#data-button, #profile-button, #download-button {
	margin-bottom: 5px;
}

#entrar {
	padding-top: 80px;
	text-align: center;
	height: 853px;
}

#registre-full {
	padding-top: 80px;
	height: 853px;
}

#re-password {
	padding-top: 80px;
}

#password_done, #password-confirm, #new_password {
	padding-top: 180px;
}

#re-password-body {
	margin-left: 95px;
}

#perfil {
	padding-top: 30px;
	padding-bottom: 15px;
}

#resposta, #registre_up {
	margin-top: 180px;

}
#resposta_in{
	border-radius: 4px;
	box-sizing: border-box;
	border: solid black 1px;
	background-color: rgb(250,250,250);
	font-family: arial;
	text-align: center;
	font-size: 25px;
	width: 100%;
	height: auto;
	padding: 5px;
}
#resposta_a{
	margin-top: 200px;
	text-align: center;
	font-size: 15px;
	
}
#resposta_a a{
	text-decoration: none;
}

/*! Footer */

#footer {
	background-color: rgb(215, 208, 193);
	border-top: solid rgb(130,0,0) 2px;
	height:150px;
	padding: 20px;
	position: relative;
	bottom: -20px;	
}

#footer a {
	text-decoration: none;
}

.footer-subline{
	padding-top: 1px;
}

.footer-subline_in {
	border-top: solid rgb(128, 128, 128) 1px;
}