/*! General */

body {
	font-family: arial;
	background-color: rgb(255, 246, 173);	
}

/*! Capçalera */

#navbar-header-top {
	background-color: rgb(130,0,0);
	border-bottom: rgb(130,0,0);
	font-family: verdana;
}

#navbar-header-down {
	background-color: rgb(130,0,0);
}

#navbar-logo {
	width: 45px;
	height: auto;
	margin-top: -5px;
	border-radius: 5px;
}
/*! Imatge Capçalera */

.slider img {
	width: 100%;
	height: auto;
    filter: grayscale(70%);
    margin-top: 45px;
    position: relative; 
}

.slider {
	border-bottom: rgb(130,0,0) solid 2px;
}

.slider-data-title {
	text-align: center;
	margin-top: 10px;
}

/*! Carousel */

#carousel-title {
	text-align: center;
	margin-top: -50px;
}

/*! Pàg. Index i Notícies */

#news-list {
	background-color: rgb(255, 246, 173);
	text-align: center;
}

#news-list-title {
	margin-top: -50px;
	border-bottom: solid 2px rgb(130,0,0);
}

#news-list-body {
	border-bottom: solid 2px rgb(130,0,0);
	padding-bottom: 50px;
}

#news-image {
	border-radius: 8px;
	border: solid black 1px;
}

#return-point {
	margin-top: 10px;
	text-align: center;
}

/*! Pàg. Sobre Nosaltres */

#panel-info {
	padding-top: 125px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*! Pàg. Contacte i Perfil Usuari*/

#panel-contact, #panel-profile {
	margin-bottom: 5px;
}

#panel-contact h5 {
	text-align: center;
}

#panel-contact-top, #panel-profile-top {
	border: solid 1px rgb(130,0,0);
	border-radius: 5px;
	padding: 20px;
}

/*! Usuari */

#menu-inici {
	margin-top: 12%;
}

#menu-inici-nom{
	margin-left: 35px;
}

#data-button, #profile-button, #download-button {
	margin-bottom: 5px;
}

#entrar, h1{
	padding-top: 80px;
	text-align: center;
}

#registre{
	padding-top: 100px;
}


#perfil {
	padding-top: 30px;
	padding-bottom: 15px;
}

#resposta{
	margin-top: 180px;

}
#resposta_in{
	border-radius: 4px;
	box-sizing: border-box;
	border: solid black 1px;
	background-color: rgb(250,250,250);
	font-family: arial;
	text-align: center;
	font-size: 25px;
	width: 100%;
	height: auto;
	padding: 5px;
}
#resposta_a{
	margin-top: 200px;
	text-align: center;
	font-size: 15px;
	
}
#resposta_a a{
	text-decoration: none;
}

#footer {
	background-color: rgb(215, 208, 193);
	border-top: solid rgb(130,0,0) 2px;
	height:150px;
	padding: 20px;
	position: relative;
	bottom: -20px;	
}

#footer a {
	text-decoration: none;
}

.footer-subline{
	padding-top: 1px;
}

.footer-subline_in {
	border-top: solid rgb(128, 128, 128) 1px;
}