{% load static %}

<nav class="navbar">
	<div class="container-fluid" id="footer">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="footer-subline">
					<ul>
						<li><strong>Telèfon:</strong> 99999999</li>
						<li><strong>Adreça:</strong> c/Mallorza</li>
						<li><strong>Població:</strong> BCN</li>
						<li><strong><a href="{% url 'gestoria:contacte' %}" role="button">Contacte</a></strong></li>
					</ul>		        		
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="footer-subline_in pull-right"><h6>Nom Company, SL</h6></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
		</div>
	</div>
</nav>