{% extends 'base.html' %}
{% block content %}
{% include 'not_navbar.html' %}
<div class="container-fluid" id="entrar"> 	
    <h1><strong>Inici de Sessió</strong></h1>
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    			<div class="panel panel-default" id="login">
  					<div class="panel-body">
					    <form method="POST">{% csrf_token %}
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
									<div class="form-group">
										<label for="username">Usuari: </label>
										<input type="text" name="username" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
									<div class="form-group">
										<label for="username">Contrasenya: </label>
										<input type="password" name="password" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
									<div class="form-group">
										<a href="{% url 'password_reset' %}">Recordar Contrasenya</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
									<div class="form-group">
										<input type="submit" class="btn btn-success" value="Entrar">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
		</div>
</div>
{% endblock %}